@page "/Home"

<PageTitle>Index</PageTitle>

<h1 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Bienvenido a tu app</h1>

<h4 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Esta es la app de RGM. </h4>
<br />

<img style="height:80%; width:80%; margin-left:10%; margin-bottom:5%" src="Images/familyMarti.jpeg" IsResponsive="true" Alt="My Image" />