@page "/Informacion"
@layout Shared.LoginLayout
@inject NavigationManager navigationManager

    <h2 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Acerca de nosotros</h2>

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
        <RadzenButton Variant="Variant.Outlined" Click=@(args => mandaAPortada()) Text="Volver" ButtonStyle="ButtonStyle.Primary" />
    </RadzenStack>


    <br />
    <label style="font-family:'Times New Roman', Times, serif; margin-left:25%; font-size:large">
    Somos un parking de camiones y autocaravanas situado en la carretera Pla de Quart n 25, 46960 Aldaia (Valencia)
    </label>
    <br />
    <br />
<label style="font-family:'Times New Roman', Times, serif; margin-left:30%; font-size:large">
    Tenemos sistema de vigilancia con cámaras y un trabajador las 24 horas del día.
    </label>
    <br />
    <br />

    <img style="height:80%; width:80%; margin-left:10%; margin-bottom:5% "src="Images/fotoParking1.jpeg" IsResponsive="true" Alt="My Image" />







@code 
{
    private void mandaAPortada()
    {
        navigationManager.NavigateTo("/");
    }
}
