@page "/Informacion"
@layout Shared.LoginLayout
@inject NavigationManager navigationManager

<h2 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Acerca de nosotros</h2>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
    <RadzenButton Variant="Variant.Outlined" Click=@(args => mandaAPortada()) Text="Volver" ButtonStyle="ButtonStyle.Primary" />
</RadzenStack>


@code 
{
    private void mandaAPortada()
    {
        navigationManager.NavigateTo("/");
    }
}
