@page "/"
@layout Shared.LoginLayout
@inject NavigationManager navigationManager
<h1 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@titulo</h1>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
    <RadzenButton Variant="Variant.Outlined" Click=@(args => mandaALogin()) Text="Login" ButtonStyle="ButtonStyle.Primary" />
    <RadzenButton Variant="Variant.Outlined" Click=@(args => mandaAInfor()) Text="Información" ButtonStyle="ButtonStyle.Success" />
</RadzenStack>
<br />

<img style="height:80%; width:80%; margin-left:10%" src="Images/parkingMarti.jpeg" IsResponsive="true" Alt="My Image" />

@* <div class="default-image"
     @onmouseout="@OnMouseOut"
     @onmouseover="@OnMouseOver">
    <div class="@_HoverImageCSSClass">
        @*this will be used for the transformed image
    </div>
</div>
 *@


@* <RadzenStack AlignItems="AlignItems.Center" class="ImagePortada">
    <RadzenImage Path="Images/parkingMarti.jpeg" Style="width:90%;">

    </RadzenImage>
</RadzenStack> *@

@code 
{
    bool _IsHovering = false;
    string _HoverImageCSSClass = "";
    string titulo = "Bienvenid@ a PARKING MARTI!";

    private void mandaALogin()
    {
        navigationManager.NavigateTo("Login");
    }

    private void mandaAInfor()
    {
        navigationManager.NavigateTo("Informacion");
    }

    protected void OnMouseOver(MouseEventArgs mouseEvent)
    {
        if (!_IsHovering)
        {
            _IsHovering = true;
            _HoverImageCSSClass = "hovering";
            StateHasChanged();
        }
    }

    protected void OnMouseOut(MouseEventArgs mouseEvent)
    {
        _HoverImageCSSClass = "";
        _IsHovering = false;
        StateHasChanged();
    }


}
