<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a style=" font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif" class="navbar-brand" href="Home">Parking Marti APP</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Inicio</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MisClientes">
                <span class="oi oi-people" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Clientes</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MisProveedores">
                <span class="oi oi-people" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Proveedores</label>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MisProformas">
                <span class="oi oi-document" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Proformas</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MisFacturas">
                <span class="oi oi-file" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Facturas</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MisEstados">
                <span class="oi oi-browser" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Estados</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MiRegistroHorario">
                <span class="oi oi-calendar" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Registro Horario</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MiVeriFactu">
                <span class="oi oi-dashboard" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">VeriFactu</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MisInformes">
                <span class="oi oi-list" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Informes</label>
                }
            </NavLink>
        </div>
    </nav>


</div>

<div class="bottom-row">
    <div class="icon-menu-arrow">
        @if (!@IconMenuActive)
        {
            <span class="oi oi-arrow-left" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
        else
        {
            <span class="oi oi-arrow-right" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
    </div>
</div>

@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}